@{ 
    ViewBag.Title = "About us";
}
<h2 style="text-align:center;margin:8px;color:blueviolet;margin-bottom:50px"><b><u> About us</u> </b></h2>
<div> 
    <p class="m-0" style="font-size:24px">NB Healthcare Technologies, an IT Division of<span style="color:gray"><a href="#" style="color:gray"> Nations Benefits LLC, USA </a>  </span> plays a critical role in the development of customized healthcare management solutions designed to maximize quality and deliver value-based outcomes.</p> 
</div>